<html>
<body>
<p>Dear ${USERNAME},</p>

<p>This is a final reminder that your Submission Tool account has been inactive since
    <strong>${LAST_ACTIVITY_DATE}</strong>. Your private data upload area will be cleaned on
    <strong>${CLEAN_UP_DATE}</strong>, unless new activity is detected before then.</p>

<p> If you wish to retain your files, please log in before this date into the
    <a href="https://www.ebi.ac.uk/biostudies/submissions/">BioStudies Submission Tool</a>. Please note: only your
    private data upload area will be affected. All already submitted datasets will remain securely archived. </p>

<p> This is the final notice prior to clean up. </p>

<p> Kind regards,<br/> BioStudies Team </p>
</body>
</html>
