<html>
<body>
<p>Dear ${USERNAME},</p>

<p>We have detected no activity on your Submission Tool account since <strong>${LAST_ACTIVITY_DATE}</strong>. To help us
    manage storage resources, your private data upload area is scheduled for cleanup on <strong>${CLEAN_UP_DATE}</strong>,
    unless new activity is detected before then. </p>

<p> If you wish to retain your files, please log in before this date into the
    <a href="https://www.ebi.ac.uk/biostudies/submissions/">BioStudies Submission Tool</a> Please note: only your
    private data upload area will be affected. All already submitted datasets will remain securely archived. </p>

<p> Kind regards,<br/> BioStudies Team </p>
</body>
</html>
