<html>
<body>
<p>Dear ${USERNAME}</p>
<p>We have detected no activity on your Submission Tool account since <strong>${LAST_ACTIVITY_DATE}</strong>.</p>
<p>To help us manage storage resources, your personal user folder is scheduled for cleanup on
    <strong>${CLEAN_UP_DATE}</strong>), unless new activity is detected before then. </p>
<p> If you wish to retain your files, log in before the deadline to the
    <a href="https://www.ebi.ac.uk/biostudies/submissions/">BioStudies Submission Tool</a> </p>
<p> Please note: only your personal workspace will be affected. Any submitted (non-draft) submissions remain securely
    archived. </p>
<p> Kind regards,<br/> BioStudies Team </p>
</body>
</html>