openapi: 3.0.1
info:
  title: BioStudies API
  description: "BioStudies submission backend. The `internal` group documents every\
    \ endpoint (operational tooling, refresh, FTP, releaser). The `public` group is\
    \ the subset intended for external submitters."
  version: 1.0.0
servers:
- url: http://biostudies-prod.ebi.ac.uk:8788
  description: PROD
- url: http://biostudies-beta.ebi.ac.uk:8788
  description: BETA
- url: http://biostudies-dev.ebi.ac.uk:8788
  description: DEV
tags:
- name: Security
  description: "User registration, authentication and account management."
- name: Collections
  description: Collections the authenticated user can submit to or attach files under.
- name: Submissions
  description: Search submissions and retrieve released or user-visible submission
    content.
- name: Synchronous Submission
  description: Submit content and wait for validation and persistence to complete
    before returning.
- name: Asynchronous Submission
  description: Submit content for background validation and processing.
- name: Submission Drafts
  description: "Create, list, update and submit submission drafts."
- name: Submission Requests
  description: Track asynchronous submission processing requests and their validation
    results.
- name: Submission Utilities
  description: "Authenticated helper operations for validating, converting, and managing\
    \ submissions."
- name: File Lists
  description: Validation helpers for submission file-list metadata before submission.
- name: User Files
  description: Browse and manage files in the authenticated user's submission workspace.
- name: Group Files
  description: Browse and manage files in workspaces shared through security groups.
- name: Groups
  description: Browse and administer security groups used for shared submission workspaces.
- name: Permissions
  description: Administrative access-control operations for submission permissions.
- name: Extended Submissions
  description: "Query extended submission documents, file lists, and link lists."
- name: Extended Submission Operations
  description: Operational actions for extended submissions and backend maintenance
    workflows.
- name: Post Processing
  description: Run post-processing tasks that enrich extended submissions after ingest.
- name: User Administration
  description: Internal user inspection and home-folder maintenance operations.
- name: Cluster Operations
  description: "Internal cluster job submission, status and log operations."
- name: Administration
  description: Internal maintenance jobs for submission request files and temporary
    storage.
- name: PMC Links
  description: Internal processing endpoints for loading Europe PMC links onto submissions.
- name: Statistics
  description: Submission statistics lookup and ingestion operations.
- name: Statistics Reports
  description: Read generated public report files for submission counts and storage
    sizes.
paths:
  /submissions/drafts/{accNo}:
    get:
      tags:
      - Submission Drafts
      summary: Get Submission Draft
      description: "Get the submission draft with the specified accNo, creating one\
        \ if it does not exist."
      operationId: getOrCreateSubmissionDraft
      parameters:
      - name: accNo
        in: path
        description: Submission accNo
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseSubmissionDraft"
      security:
      - sessionToken: []
    put:
      tags:
      - Submission Drafts
      summary: Update Submission Draft
      description: Replace the content of the submission draft with the specified
        accNo.
      operationId: updateSubmissionDraft
      parameters:
      - name: accNo
        in: path
        description: Submission accNo
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseSubmissionDraft"
      security:
      - sessionToken: []
    delete:
      tags:
      - Submission Drafts
      summary: Delete Submission Draft
      description: Delete the submission draft with the specified accNo.
      operationId: deleteSubmissionDraft
      parameters:
      - name: accNo
        in: path
        description: Submission accNo
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /permissions:
    put:
      tags:
      - Permissions
      summary: Grant access to a submission
      operationId: grantPermission
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PermissionRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /groups:
    get:
      tags:
      - Groups
      summary: List the authenticated user's groups
      operationId: getGroups
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Group"
      security:
      - sessionToken: []
    put:
      tags:
      - Groups
      summary: Add a user to a group
      operationId: addUserInGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
      security:
      - sessionToken: []
    post:
      tags:
      - Groups
      summary: Create a group
      operationId: createGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserGroupDto"
      security:
      - sessionToken: []
  /submissions:
    get:
      tags:
      - Submissions
      summary: Search My Submissions
      description: "Search submissions visible to the authenticated user. Results\
        \ are filtered by ownership, superuser permissions, and administrated collections."
      operationId: getSubmissions
      parameters:
      - name: request
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/SubmissionFilterRequest"
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubmissionDto"
      security:
      - sessionToken: []
    post:
      tags:
      - Synchronous Submission
      summary: Submit Multipart JSON Synchronously
      description: Submit BioStudies JSON content together with optional files as
        multipart form data and wait for processing to complete.
      operationId: submitTsv
      parameters:
      - name: parameters
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/SubmitParameters"
      - name: Submission_Type
        in: header
        schema:
          type: string
          enum:
          - text/plain
          - application/json
      - name: onBehalf
        in: query
        description: Email of the user the submission is performed on behalf of.
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: Name to use if the on-behalf user needs to be registered.
        required: false
        schema:
          type: string
      - name: register
        in: query
        description: Whether to register an inactive user for the on-behalf email.
        required: false
        schema:
          type: boolean
      - name: Content-Type
        in: header
        schema:
          type: string
          enum:
          - multipart/form-data
      - name: submission
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
          multipart/form-data:
            schema:
              type: object
              properties:
                onBehalfRequest:
                  $ref: "#/components/schemas/OnBehalfParameters"
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                parameters:
                  $ref: "#/components/schemas/SubmitParameters"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Submission"
      security:
      - sessionToken: []
    delete:
      tags:
      - Submission Utilities
      summary: Delete Submissions
      description: Delete multiple submissions the authenticated user is allowed to
        manage.
      operationId: deleteSubmissions
      parameters:
      - name: submissions
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/requests/{accNo}/{version}/archive:
    post:
      tags:
      - Submission Requests
      summary: Archive Submission Request
      description: Archive an old processing request once it no longer needs to appear
        in active request views.
      operationId: archiveSubmissionRequest
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/ftp/generate:
    post:
      tags:
      - Submission Utilities
      summary: Generate FTP Links
      description: Generate FTP links for a submission after its files have been prepared
        for release.
      operationId: generateFtpLinks
      parameters:
      - name: accNo
        in: query
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/fileLists/validate:
    post:
      tags:
      - File Lists
      summary: Validate File List
      description: Validate a file list against the files available to the current
        user or the requested on-behalf user. Use this before submitting PageTab content
        that references an uploaded file list.
      operationId: validateFileList
      parameters:
      - name: accNo
        in: query
        required: false
        schema:
          type: string
      - name: rootPath
        in: query
        required: false
        schema:
          type: string
      - name: fileListName
        in: query
        required: true
        schema:
          type: string
      - name: onBehalf
        in: query
        description: Email of the user the submission is performed on behalf of.
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: Name to use if the on-behalf user needs to be registered.
        required: false
        schema:
          type: string
      - name: register
        in: query
        description: Whether to register an inactive user for the on-behalf email.
        required: false
        schema:
          type: boolean
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/extended:
    get:
      tags:
      - Extended Submissions
      summary: Search Extended Submissions
      description: Search extended submission documents using paging and filtering
        parameters.
      operationId: submissions
      parameters:
      - name: request
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/ExtSubPageRequest"
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/WebExtPageExtSubmission"
    post:
      tags:
      - Extended Submission Operations
      summary: Submit Extended Submission
      description: Submit an already serialized extended submission and return the
        stored extended document.
      operationId: submitExtended
      parameters:
      - name: submission
        in: query
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ExtSubmission"
      security:
      - sessionToken: []
  /submissions/extended/{accNo}/post-process:
    post:
      tags:
      - Post Processing
      summary: Post-process Submission
      description: Run all post-processing tasks for one submission accession.
      operationId: postProcessSubmission
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: remote
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/extended/{accNo}/post-process/stats:
    post:
      tags:
      - Post Processing
      summary: Calculate Submission Statistics
      description: Calculate derived statistics for one extended submission.
      operationId: calculateSubmissionStats
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: remote
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/extended/{accNo}/post-process/inner-files:
    post:
      tags:
      - Post Processing
      summary: Generate Inner Files
      description: Generate inner-file metadata for one extended submission.
      operationId: generateInnerSubmissionFiles
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: remote
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/extended/{accNo}/post-process/fallback-pagetab:
    post:
      tags:
      - Post Processing
      summary: Generate Fallback PageTab
      description: Generate fallback PageTab content for one extended submission.
      operationId: generateFallbackSubmissionPageTab
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: remote
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/extended/{accNo}/post-process/doi:
    post:
      tags:
      - Post Processing
      summary: Post-process DOI
      description: Run DOI-related post-processing for one extended submission.
      operationId: generateDoi
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: remote
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/extended/{accNo}/migrate/{target}:
    post:
      tags:
      - Extended Submission Operations
      summary: Migrate Submission Storage
      description: Move a submission to the requested storage mode.
      operationId: migrateSubmission
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: target
        in: path
        required: true
        schema:
          type: string
          enum:
          - FIRE
          - NFS
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SubmissionId"
      security:
      - sessionToken: []
  /submissions/extended/{accNo}/generate-doi:
    post:
      tags:
      - Extended Submission Operations
      summary: Generate DOI
      description: Generate or request a DOI for a submission accession.
      operationId: generateDoi_1
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SubmissionId"
      security:
      - sessionToken: []
  /submissions/extended/transfer:
    post:
      tags:
      - Extended Submission Operations
      summary: Transfer Submissions
      description: Transfer ownership or collection context for a group of submissions.
      operationId: transferSubmissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmissionTransferOptions"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/extended/transfer/email-update:
    post:
      tags:
      - Extended Submission Operations
      summary: Update Transfer Emails
      description: Update email metadata as part of a submission transfer operation.
      operationId: update
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmissionTransferOptions"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/extended/release/{accNo}/{releaseDate}:
    post:
      tags:
      - Extended Submission Operations
      summary: Release Submission
      description: Set a submission release date and trigger release handling.
      operationId: releaseSubmission
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: releaseDate
        in: path
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SubmissionId"
      security:
      - sessionToken: []
  /submissions/extended/refresh/{accNo}:
    post:
      tags:
      - Extended Submission Operations
      summary: Refresh Submission
      description: Refresh persisted extended submission data for an accession number.
      operationId: refreshSubmission
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SubmissionId"
      security:
      - sessionToken: []
  /submissions/extended/re-trigger/{accNo}/{version}:
    post:
      tags:
      - Extended Submission Operations
      summary: Re-trigger Submission Processing
      description: Re-run processing for a specific submission accession and version.
      operationId: reTriggerSubmission
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ExtSubmission"
      security:
      - sessionToken: []
  /submissions/extended/post-process:
    post:
      tags:
      - Post Processing
      summary: Post-process All Submissions
      description: Run all configured post-processing tasks for all eligible extended
        submissions.
      operationId: postProcessAll
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/extended/async:
    post:
      tags:
      - Extended Submission Operations
      summary: Submit Extended Submission Asynchronously
      description: Submit an already serialized extended submission for background
        processing.
      operationId: submitExtendedAsync
      parameters:
      - name: submission
        in: query
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SubmissionId"
      security:
      - sessionToken: []
  /submissions/drafts:
    get:
      tags:
      - Submission Drafts
      summary: Search Submission Drafts
      description: Search for submission drafts belonging to the authenticated user.
      operationId: getSubmissionDrafts
      parameters:
      - name: filter
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/PageRequest"
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ResponseSubmissionDraft"
      security:
      - sessionToken: []
    post:
      tags:
      - Submission Drafts
      summary: Create Submission Draft
      description: Create a new submission draft.
      operationId: createSubmissionDraft
      parameters:
      - name: attachTo
        in: query
        description: Existing submission accNo to attach the draft to
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseSubmissionDraft"
      security:
      - sessionToken: []
  /submissions/drafts/{accNo}/submit:
    post:
      tags:
      - Submission Drafts
      summary: Submit Draft (Async)
      description: Submit the draft with the given accNo asynchronously. The draft
        is deleted once the submission completes.
      operationId: submitDraft
      parameters:
      - name: accNo
        in: path
        description: Submission accNo
        required: true
        schema:
          type: string
      - name: parameters
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/SubmitParameters"
      - name: onBehalf
        in: query
        description: Email of the user the submission is performed on behalf of.
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: Name to use if the on-behalf user needs to be registered.
        required: false
        schema:
          type: string
      - name: register
        in: query
        description: Whether to register an inactive user for the on-behalf email.
        required: false
        schema:
          type: boolean
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/drafts/{accNo}/submit/sync:
    post:
      tags:
      - Submission Drafts
      summary: Submit Draft (Sync)
      description: Submit the draft with the given accNo synchronously and return
        the resulting submission.
      operationId: submitDraftSync
      parameters:
      - name: accNo
        in: path
        description: Submission accNo
        required: true
        schema:
          type: string
      - name: parameters
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/SubmitParameters"
      - name: onBehalf
        in: query
        description: Email of the user the submission is performed on behalf of.
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: Name to use if the on-behalf user needs to be registered.
        required: false
        schema:
          type: string
      - name: register
        in: query
        description: Whether to register an inactive user for the on-behalf email.
        required: false
        schema:
          type: boolean
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Submission"
      security:
      - sessionToken: []
  /submissions/direct:
    post:
      tags:
      - Synchronous Submission
      summary: Submit PageTab File Synchronously
      description: "Submit an uploaded PageTab file, plus optional associated data\
        \ files, and wait for processing to complete."
      operationId: submitFile
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
          enum:
          - multipart/form-data
      - name: onBehalf
        in: query
        description: Email of the user the submission is performed on behalf of.
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: Name to use if the on-behalf user needs to be registered.
        required: false
        schema:
          type: string
      - name: register
        in: query
        description: Whether to register an inactive user for the on-behalf email.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - submission
              type: object
              properties:
                onBehalfRequest:
                  $ref: "#/components/schemas/OnBehalfParameters"
                submission:
                  type: string
                  format: binary
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                parameters:
                  $ref: "#/components/schemas/SubmitParameters"
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Submission"
      security:
      - sessionToken: []
  /submissions/check-pagetab:
    post:
      tags:
      - Submission Utilities
      summary: Convert Submission Content
      description: Validate and convert submission content between supported formats
        such as PageTab TSV and JSON.
      operationId: checkSubmission
      parameters:
      - name: source
        in: query
        required: true
        schema:
          type: string
      - name: target
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - sessionToken: []
  /submissions/check-pagetab-file-list:
    post:
      tags:
      - Submission Utilities
      summary: Convert File List Content
      description: Validate and convert file-list content between supported formats.
      operationId: checkFileList
      parameters:
      - name: source
        in: query
        required: true
        schema:
          type: string
      - name: target
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - sessionToken: []
  /submissions/check-pagetab-file-list-xlsx:
    post:
      tags:
      - Submission Utilities
      summary: Convert Excel File List
      description: Read an uploaded Excel file list and return it in the requested
        serialized format.
      operationId: checkFileListXlsx
      parameters:
      - name: target
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
              - source
              type: object
              properties:
                source:
                  type: string
                  format: binary
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - sessionToken: []
  /submissions/async:
    post:
      tags:
      - Asynchronous Submission
      summary: Submit Multipart JSON Asynchronously
      description: Submit BioStudies JSON content together with optional files as
        multipart form data and return a request identifier immediately.
      operationId: submitTsv_1
      parameters:
      - name: parameters
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/SubmitParameters"
      - name: Submission_Type
        in: header
        schema:
          type: string
          enum:
          - text/plain
          - application/json
      - name: onBehalf
        in: query
        description: Email of the user the submission is performed on behalf of.
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: Name to use if the on-behalf user needs to be registered.
        required: false
        schema:
          type: string
      - name: register
        in: query
        description: Whether to register an inactive user for the on-behalf email.
        required: false
        schema:
          type: boolean
      - name: Content-Type
        in: header
        schema:
          type: string
          enum:
          - multipart/form-data
      - name: submission
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
          multipart/form-data:
            schema:
              type: object
              properties:
                onBehalfRequest:
                  $ref: "#/components/schemas/OnBehalfParameters"
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                parameters:
                  $ref: "#/components/schemas/SubmitParameters"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionId"
      security:
      - sessionToken: []
  /submissions/async/multiple:
    post:
      tags:
      - Asynchronous Submission
      summary: Submit Multiple Files Asynchronously
      description: Submit multiple PageTab or JSON payloads from one multipart request.
        Each payload is processed asynchronously.
      operationId: submitManyMultipart
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
          enum:
          - multipart/form-data
      - name: onBehalf
        in: query
        description: Email of the user the submission is performed on behalf of.
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: Name to use if the on-behalf user needs to be registered.
        required: false
        schema:
          type: string
      - name: register
        in: query
        description: Whether to register an inactive user for the on-behalf email.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - subformat
              type: object
              properties:
                onBehalfRequest:
                  $ref: "#/components/schemas/OnBehalfParameters"
                multipartRequest:
                  type: string
                  format: binary
                subformat:
                  type: string
                parameters:
                  $ref: "#/components/schemas/SubmitParameters"
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubmissionId"
      security:
      - sessionToken: []
  /submissions/async/direct:
    post:
      tags:
      - Asynchronous Submission
      summary: Submit PageTab File Asynchronously
      description: "Submit an uploaded PageTab file, plus optional associated data\
        \ files, and return a request identifier immediately."
      operationId: submitFile_1
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
          enum:
          - multipart/form-data
      - name: onBehalf
        in: query
        description: Email of the user the submission is performed on behalf of.
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: Name to use if the on-behalf user needs to be registered.
        required: false
        schema:
          type: string
      - name: register
        in: query
        description: Whether to register an inactive user for the on-behalf email.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - submission
              type: object
              properties:
                onBehalfRequest:
                  $ref: "#/components/schemas/OnBehalfParameters"
                submission:
                  type: string
                  format: binary
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                parameters:
                  $ref: "#/components/schemas/SubmitParameters"
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionId"
      security:
      - sessionToken: []
  /stats/{type}/increment:
    post:
      tags:
      - Statistics
      summary: Increment statistics from an uploaded file
      operationId: increment
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        schema:
          type: string
          enum:
          - multipart/form-data
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - stats
              type: object
              properties:
                stats:
                  type: string
                  format: binary
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UpdateResult"
      security:
      - sessionToken: []
  /security/users/{email}/migrate:
    post:
      tags:
      - User Administration
      summary: Migrate a user's home folder
      operationId: migrateUser
      parameters:
      - name: email
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MigrateHomeOptions"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /pmc/loadLinks:
    post:
      tags:
      - PMC Links
      summary: Load PMC links for selected submissions
      operationId: loadLinks
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoadRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProcessingResult"
      security:
      - sessionToken: []
  /pmc/loadLinksRemotly:
    post:
      tags:
      - PMC Links
      summary: Run PMC link loading on the cluster
      operationId: loadLinksRemotly
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoadFromDbRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Job"
  /pmc/loadDbLinks:
    post:
      tags:
      - PMC Links
      summary: Load PMC links from database-selected submissions
      operationId: loadDbLinks
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoadFromDbRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProcessingResult"
      security:
      - sessionToken: []
  /permissions/revoke:
    post:
      tags:
      - Permissions
      summary: Revoke access to a submission
      operationId: revokePermission
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PermissionRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /folder/user/create:
    post:
      tags:
      - User Files
      summary: Create User Folder By Body
      description: Create a folder using a request body path and folder name.
      operationId: createFolder
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DirFilePath"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /folder/groups/{groupName}/create:
    post:
      tags:
      - Group Files
      summary: Create Group Folder
      description: Create a folder in a group workspace.
      operationId: createFolder_1
      parameters:
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DirFilePath"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /files/user/upload:
    post:
      tags:
      - User Files
      summary: Upload User Files By Body Path
      description: Upload files using the request parameter variant expected by the
        submission tool.
      operationId: uploadFile
      parameters:
      - name: filePath
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/FilePath"
      - name: files
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
            format: binary
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /files/user/rename:
    post:
      tags:
      - User Files
      summary: Rename User File
      description: Rename or move a file within the authenticated user's workspace.
      operationId: renameFile
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenameFilePath"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /files/user/query:
    post:
      tags:
      - User Files
      summary: Query User Files
      description: List files and folders using a request body path. This is the body-based
        variant of the listing API.
      operationId: listFiles
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FilePath"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserFile"
      security:
      - sessionToken: []
  /files/user/download:
    get:
      tags:
      - User Files
      summary: Download User File
      description: Download one file from the authenticated user's workspace using
        query parameters.
      operationId: downloadFile
      parameters:
      - name: fileName
        in: query
        required: true
        schema:
          type: string
      - name: filePath
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/FilePath"
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - sessionToken: []
    post:
      tags:
      - User Files
      summary: Download User File By Body
      description: Download one file using a request body path and file name.
      operationId: downloadFile_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DirFilePath"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - sessionToken: []
  /files/user/delete:
    post:
      tags:
      - User Files
      summary: Delete User File By Body
      description: Delete one file using a request body path and file name.
      operationId: deleteFile
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DirFilePath"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /files/groups/{groupName}/upload:
    post:
      tags:
      - Group Files
      summary: Upload Group Files
      description: Upload one or more files into a group workspace.
      operationId: uploadGroupFile
      parameters:
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: filePath
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/FilePath"
      - name: files
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
            format: binary
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /files/groups/{groupName}/rename:
    post:
      tags:
      - Group Files
      summary: Rename Group File
      description: Rename or move a file within a group workspace.
      operationId: renameFile_1
      parameters:
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenameFilePath"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /files/groups/{groupName}/query:
    post:
      tags:
      - Group Files
      summary: Query Group Files
      description: List files and folders in a group workspace the authenticated user
        can access.
      operationId: listGroupFiles
      parameters:
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FilePath"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserFile"
      security:
      - sessionToken: []
  /files/groups/{groupName}/download:
    post:
      tags:
      - Group Files
      summary: Download Group File
      description: Download one file from a group workspace.
      operationId: downloadFile_2
      parameters:
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DirFilePath"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - sessionToken: []
  /files/groups/{groupName}/delete:
    post:
      tags:
      - Group Files
      summary: Delete Group File
      description: Delete one file from a group workspace.
      operationId: deleteFile_1
      parameters:
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DirFilePath"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /cluster/submit:
    post:
      tags:
      - Cluster Operations
      summary: Submit a cluster job
      operationId: submitJob
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobSpecDto"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Job"
      security:
      - sessionToken: []
  /cluster/health:
    post:
      tags:
      - Cluster Operations
      summary: Submit a cluster health-check job
      operationId: clusterHealthCheck
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Job"
      security:
      - sessionToken: []
  /auth/logout:
    post:
      tags:
      - Security
      summary: Logout
      description: Expires the given authorization token.
      operationId: logout
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LogoutRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
  /auth/login:
    post:
      tags:
      - Security
      summary: Login
      description: Retrieves the user authentication token.
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
  /auth/retryact:
    post:
      tags:
      - Security
      summary: Retry User Activation
      description: Send the activation email to a user to either activate the account
        or reset the password.
      operationId: retryActivation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetryActivationRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
  /auth/register:
    post:
      tags:
      - Security
      summary: Register User
      description: Create a new BioStudies user.
      operationId: register
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unit"
  /auth/refresh-user:
    post:
      tags:
      - Security
      summary: Refresh User
      description: Refresh cached security details for a registered user and return
        the updated security profile.
      operationId: refreshUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshUserRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SecurityUser"
  /auth/password/setup:
    post:
[...]
