openapi: 3.0.1
info:
  title: BioStudies API
  description: "BioStudies submission backend. The `internal` group documents every\
    \ endpoint (operational tooling, refresh, FTP, releaser). The `public` group is\
    \ the subset intended for external submitters."
  version: 1.0.0
servers:
- url: http://biostudies-prod.ebi.ac.uk:8788
  description: PROD
- url: http://biostudies-beta.ebi.ac.uk:8788
  description: BETA
- url: http://biostudies-dev.ebi.ac.uk:8788
  description: DEV
tags:
- name: Submission Drafts
  description: "Create, list, update and submit submission drafts."
- name: Security
  description: "User registration, authentication and account management."
paths:
  /submissions/drafts/{accNo}:
    get:
      tags:
      - Submission Drafts
      summary: Get Submission Draft
      description: "Get the submission draft with the specified accNo, creating one\
        \ if it does not exist."
      operationId: getOrCreateSubmissionDraft
      parameters:
      - name: accNo
        in: path
        description: Submission accNo
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseSubmissionDraft"
      security:
      - sessionToken: []
    put:
      tags:
      - Submission Drafts
      summary: Update Submission Draft
      description: Replace the content of the submission draft with the specified
        accNo.
      operationId: updateSubmissionDraft
      parameters:
      - name: accNo
        in: path
        description: Submission accNo
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseSubmissionDraft"
      security:
      - sessionToken: []
    delete:
      tags:
      - Submission Drafts
      summary: Delete Submission Draft
      description: Delete the submission draft with the specified accNo.
      operationId: deleteSubmissionDraft
      parameters:
      - name: accNo
        in: path
        description: Submission accNo
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions:
    get:
      tags:
      - submission-query-resource
      operationId: getSubmissions
      parameters:
      - name: request
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/SubmissionFilterRequest"
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubmissionDto"
      security:
      - sessionToken: []
    post:
      tags:
      - submit-resource
      operationId: submitTsv
      parameters:
      - name: parameters
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/SubmitParameters"
      - name: Submission_Type
        in: header
        schema:
          type: string
          enum:
          - text/plain
          - application/json
      - name: onBehalf
        in: query
        description: Email of the user the submission is performed on behalf of.
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: Name to use if the on-behalf user needs to be registered.
        required: false
        schema:
          type: string
      - name: register
        in: query
        description: Whether to register an inactive user for the on-behalf email.
        required: false
        schema:
          type: boolean
      - name: Content-Type
        in: header
        schema:
          type: string
          enum:
          - multipart/form-data
      - name: submission
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
          multipart/form-data:
            schema:
              type: object
              properties:
                onBehalfRequest:
                  $ref: "#/components/schemas/OnBehalfParameters"
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                parameters:
                  $ref: "#/components/schemas/SubmitParameters"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Submission"
      security:
      - sessionToken: []
    delete:
      tags:
      - submission-operations-resource
      operationId: deleteSubmissions
      parameters:
      - name: submissions
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/requests/{accNo}/{version}/archive:
    post:
      tags:
      - submission-request-resource
      operationId: archiveSubmissionRequest
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/ftp/generate:
    post:
      tags:
      - submission-operations-resource
      operationId: generateFtpLinks
      parameters:
      - name: accNo
        in: query
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/fileLists/validate:
    post:
      tags:
      - file-list-resource
      operationId: validateFileList
      parameters:
      - name: accNo
        in: query
        required: false
        schema:
          type: string
      - name: rootPath
        in: query
        required: false
        schema:
          type: string
      - name: fileListName
        in: query
        required: true
        schema:
          type: string
      - name: onBehalf
        in: query
        description: Email of the user the submission is performed on behalf of.
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: Name to use if the on-behalf user needs to be registered.
        required: false
        schema:
          type: string
      - name: register
        in: query
        description: Whether to register an inactive user for the on-behalf email.
        required: false
        schema:
          type: boolean
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/extended:
    get:
      tags:
      - ext-query-submission-resource
      operationId: submissions
      parameters:
      - name: request
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/ExtSubPageRequest"
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/WebExtPageExtSubmission"
    post:
      tags:
      - ext-submission-resource
      operationId: submitExtended
      parameters:
      - name: submission
        in: query
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ExtSubmission"
      security:
      - sessionToken: []
  /submissions/extended/{accNo}/post-process:
    post:
      tags:
      - ext-submission-post-process-resource
      operationId: postProcessSubmission
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: remote
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/extended/{accNo}/post-process/stats:
    post:
      tags:
      - ext-submission-post-process-resource
      operationId: calculateSubmissionStats
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: remote
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/extended/{accNo}/post-process/inner-files:
    post:
      tags:
      - ext-submission-post-process-resource
      operationId: generateInnerSubmissionFiles
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: remote
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/extended/{accNo}/post-process/fallback-pagetab:
    post:
      tags:
      - ext-submission-post-process-resource
      operationId: generateFallbackSubmissionPageTab
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: remote
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/extended/{accNo}/post-process/doi:
    post:
      tags:
      - ext-submission-post-process-resource
      operationId: generateDoi
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: remote
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/extended/{accNo}/migrate/{target}:
    post:
      tags:
      - ext-submission-resource
      operationId: migrateSubmission
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: target
        in: path
        required: true
        schema:
          type: string
          enum:
          - FIRE
          - NFS
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SubmissionId"
      security:
      - sessionToken: []
  /submissions/extended/{accNo}/generate-doi:
    post:
      tags:
      - ext-submission-resource
      operationId: generateDoi_1
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SubmissionId"
      security:
      - sessionToken: []
  /submissions/extended/transfer:
    post:
      tags:
      - ext-submission-resource
      operationId: transferSubmissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmissionTransferOptions"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/extended/transfer/email-update:
    post:
      tags:
      - ext-submission-resource
      operationId: update
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmissionTransferOptions"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/extended/release/{accNo}/{releaseDate}:
    post:
      tags:
      - ext-submission-resource
      operationId: releaseSubmission
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: releaseDate
        in: path
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SubmissionId"
      security:
      - sessionToken: []
  /submissions/extended/refresh/{accNo}:
    post:
      tags:
      - ext-submission-resource
      operationId: refreshSubmission
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SubmissionId"
      security:
      - sessionToken: []
  /submissions/extended/re-trigger/{accNo}/{version}:
    post:
      tags:
      - ext-submission-resource
      operationId: reTriggerSubmission
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ExtSubmission"
      security:
      - sessionToken: []
  /submissions/extended/post-process:
    post:
      tags:
      - ext-submission-post-process-resource
      operationId: postProcessAll
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/extended/async:
    post:
      tags:
      - ext-submission-resource
      operationId: submitExtendedAsync
      parameters:
      - name: submission
        in: query
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SubmissionId"
      security:
      - sessionToken: []
  /submissions/drafts:
    get:
      tags:
      - Submission Drafts
      summary: Search Submission Drafts
      description: Search for submission drafts belonging to the authenticated user.
      operationId: getSubmissionDrafts
      parameters:
      - name: filter
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/PageRequest"
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ResponseSubmissionDraft"
      security:
      - sessionToken: []
    post:
      tags:
      - Submission Drafts
      summary: Create Submission Draft
      description: Create a new submission draft.
      operationId: createSubmissionDraft
      parameters:
      - name: attachTo
        in: query
        description: Existing submission accNo to attach the draft to
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseSubmissionDraft"
      security:
      - sessionToken: []
  /submissions/drafts/{accNo}/submit:
    post:
      tags:
      - Submission Drafts
      summary: Submit Draft (Async)
      description: Submit the draft with the given accNo asynchronously. The draft
        is deleted once the submission completes.
      operationId: submitDraft
      parameters:
      - name: accNo
        in: path
        description: Submission accNo
        required: true
        schema:
          type: string
      - name: parameters
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/SubmitParameters"
      - name: onBehalf
        in: query
        description: Email of the user the submission is performed on behalf of.
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: Name to use if the on-behalf user needs to be registered.
        required: false
        schema:
          type: string
      - name: register
        in: query
        description: Whether to register an inactive user for the on-behalf email.
        required: false
        schema:
          type: boolean
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/drafts/{accNo}/submit/sync:
    post:
      tags:
      - Submission Drafts
      summary: Submit Draft (Sync)
      description: Submit the draft with the given accNo synchronously and return
        the resulting submission.
      operationId: submitDraftSync
      parameters:
      - name: accNo
        in: path
        description: Submission accNo
        required: true
        schema:
          type: string
      - name: parameters
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/SubmitParameters"
      - name: onBehalf
        in: query
        description: Email of the user the submission is performed on behalf of.
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: Name to use if the on-behalf user needs to be registered.
        required: false
        schema:
          type: string
      - name: register
        in: query
        description: Whether to register an inactive user for the on-behalf email.
        required: false
        schema:
          type: boolean
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Submission"
      security:
      - sessionToken: []
  /submissions/direct:
    post:
      tags:
      - multipart-submit-resource
      operationId: submitFile
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
          enum:
          - multipart/form-data
      - name: onBehalf
        in: query
        description: Email of the user the submission is performed on behalf of.
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: Name to use if the on-behalf user needs to be registered.
        required: false
        schema:
          type: string
      - name: register
        in: query
        description: Whether to register an inactive user for the on-behalf email.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - submission
              type: object
              properties:
                onBehalfRequest:
                  $ref: "#/components/schemas/OnBehalfParameters"
                submission:
                  type: string
                  format: binary
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                parameters:
                  $ref: "#/components/schemas/SubmitParameters"
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Submission"
      security:
      - sessionToken: []
  /submissions/check-pagetab:
    post:
      tags:
      - submission-operations-resource
      operationId: checkSubmission
      parameters:
      - name: source
        in: query
        required: true
        schema:
          type: string
      - name: target
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - sessionToken: []
  /submissions/check-pagetab-file-list:
    post:
      tags:
      - submission-operations-resource
      operationId: checkFileList
      parameters:
      - name: source
        in: query
        required: true
        schema:
          type: string
      - name: target
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - sessionToken: []
  /submissions/check-pagetab-file-list-xlsx:
    post:
      tags:
      - submission-operations-resource
      operationId: checkFileListXlsx
      parameters:
      - name: target
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
              - source
              type: object
              properties:
                source:
                  type: string
                  format: binary
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - sessionToken: []
  /submissions/async:
    post:
      tags:
      - submit-async-resource
      operationId: submitTsv_1
      parameters:
      - name: parameters
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/SubmitParameters"
      - name: Submission_Type
        in: header
        schema:
          type: string
          enum:
          - text/plain
          - application/json
      - name: onBehalf
        in: query
        description: Email of the user the submission is performed on behalf of.
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: Name to use if the on-behalf user needs to be registered.
        required: false
        schema:
          type: string
      - name: register
        in: query
        description: Whether to register an inactive user for the on-behalf email.
        required: false
        schema:
          type: boolean
      - name: Content-Type
        in: header
        schema:
          type: string
          enum:
          - multipart/form-data
      - name: submission
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
          multipart/form-data:
            schema:
              type: object
              properties:
                onBehalfRequest:
                  $ref: "#/components/schemas/OnBehalfParameters"
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                parameters:
                  $ref: "#/components/schemas/SubmitParameters"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionId"
      security:
      - sessionToken: []
  /submissions/async/multiple:
    post:
      tags:
      - multipart-async-submit-resource
      operationId: submitManyMultipart
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
          enum:
          - multipart/form-data
      - name: onBehalf
        in: query
        description: Email of the user the submission is performed on behalf of.
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: Name to use if the on-behalf user needs to be registered.
        required: false
        schema:
          type: string
      - name: register
        in: query
        description: Whether to register an inactive user for the on-behalf email.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - subformat
              type: object
              properties:
                onBehalfRequest:
                  $ref: "#/components/schemas/OnBehalfParameters"
                multipartRequest:
                  type: string
                  format: binary
                subformat:
                  type: string
                parameters:
                  $ref: "#/components/schemas/SubmitParameters"
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubmissionId"
      security:
      - sessionToken: []
  /submissions/async/direct:
    post:
      tags:
      - multipart-async-submit-resource
      operationId: submitFile_1
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
          enum:
          - multipart/form-data
      - name: onBehalf
        in: query
        description: Email of the user the submission is performed on behalf of.
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: Name to use if the on-behalf user needs to be registered.
        required: false
        schema:
          type: string
      - name: register
        in: query
        description: Whether to register an inactive user for the on-behalf email.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - submission
              type: object
              properties:
                onBehalfRequest:
                  $ref: "#/components/schemas/OnBehalfParameters"
                submission:
                  type: string
                  format: binary
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                parameters:
                  $ref: "#/components/schemas/SubmitParameters"
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionId"
      security:
      - sessionToken: []
  /files/user/upload:
    post:
      tags:
      - user-files-resource
      operationId: uploadFile
      parameters:
      - name: filePath
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/FilePath"
      - name: files
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
            format: binary
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /files/user/rename:
    post:
      tags:
      - user-files-resource
      operationId: renameFile
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenameFilePath"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /files/user/query:
    post:
      tags:
      - user-files-resource
      operationId: listFiles
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FilePath"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserFile"
      security:
      - sessionToken: []
  /files/user/download:
    get:
      tags:
      - user-files-resource
      operationId: downloadFile
      parameters:
      - name: fileName
        in: query
        required: true
        schema:
          type: string
      - name: filePath
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/FilePath"
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - sessionToken: []
    post:
      tags:
      - user-files-resource
      operationId: downloadFile_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DirFilePath"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - sessionToken: []
  /files/user/delete:
    post:
      tags:
      - user-files-resource
      operationId: deleteFile
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DirFilePath"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /files/groups/{groupName}/upload:
    post:
      tags:
      - group-files-resource
      operationId: uploadGroupFile
      parameters:
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: filePath
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/FilePath"
      - name: files
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
            format: binary
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /files/groups/{groupName}/rename:
    post:
      tags:
      - group-files-resource
      operationId: renameFile_1
      parameters:
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenameFilePath"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /files/groups/{groupName}/query:
    post:
      tags:
      - group-files-resource
      operationId: listGroupFiles
      parameters:
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FilePath"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserFile"
      security:
      - sessionToken: []
  /files/groups/{groupName}/download:
    post:
      tags:
      - group-files-resource
      operationId: downloadFile_2
      parameters:
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DirFilePath"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - sessionToken: []
  /files/groups/{groupName}/delete:
    post:
      tags:
      - group-files-resource
      operationId: deleteFile_1
      parameters:
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DirFilePath"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /auth/logout:
    post:
      tags:
      - Security
      summary: Logout
      description: Expires the given authorization token.
      operationId: logout
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LogoutRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
  /auth/login:
    post:
      tags:
      - Security
      summary: Login
      description: Retrieves the user authentication token.
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
  /auth/retryact:
    post:
      tags:
      - Security
      summary: Retry User Activation
      description: Send the activation email to a user to either activate the account
        or reset the password.
      operationId: retryActivation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetryActivationRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
  /auth/register:
    post:
      tags:
      - Security
      summary: Register User
      description: Create a new BioStudies user.
      operationId: register
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unit"
  /auth/refresh-user:
    post:
      tags:
      - user-resource
      operationId: refreshUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshUserRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SecurityUser"
  /auth/password/setup:
    post:
      tags:
      - Security
      summary: Set Up Password
      description: Activates and sets up the password for the user with the given
        activation key.
      operationId: setUpPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePasswordRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
  /auth/password/reset:
    post:
      tags:
      - Security
      summary: Reset Password
      description: Reset the user password. An email is sent to the user to create
        a new password.
      operationId: resetPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetPasswordRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
  /auth/password/change:
    post:
      tags:
      - Security
      summary: Change Password
      description: Change the user password.
      operationId: changePassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePasswordRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
  /auth/check-registration:
    post:
      tags:
      - Security
      summary: Check Registration
      description: "Checks if a user with the given email is registered. If not, a\
        \ new inactive user is created with the given email and user name. The new\
        \ user must be activated via an activation link."
      operationId: checkUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckUserRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SecurityUser"
  /auth/activate:
    post:
      tags:
      - Security
      summary: Activate User By Email
      description: Triggers the process to set up a new password and activate a user.
      operationId: activate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActivateByEmailRequest"
        required: true
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
  /auth/activate/{activationKey}:
    post:
      tags:
      - Security
      summary: Activate User
      description: Activates a newly created user.
      operationId: activateByActivationKey
      parameters:
      - name: activationKey
        in: path
        description: User activation key
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unit"
  /submissions/{accNo}:
    get:
      tags:
      - submission-query-resource
      operationId: getSubmission
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SubmissionDto"
      security:
      - sessionToken: []
    delete:
      tags:
      - submission-operations-resource
      operationId: deleteSubmission
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Unit"
      security:
      - sessionToken: []
  /submissions/{accNo}/{fileList}.tsv:
    get:
      tags:
      - submission-query-resource
      operationId: asTsv
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: fileList
        in: path
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: binary
      security:
      - sessionToken: []
  /submissions/{accNo}/{fileList}.json:
    get:
      tags:
      - submission-query-resource
      operationId: asJson
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: fileList
        in: path
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: binary
      security:
      - sessionToken: []
  /submissions/{accNo}.tsv:
    get:
      tags:
      - submission-query-resource
      operationId: asTsv_1
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            text/plain:
              schema:
                type: string
  /submissions/{accNo}.json:
    get:
      tags:
      - submission-query-resource
      operationId: asJson_1
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /submissions/requests/{accNo}/{version}:
    get:
      tags:
      - submission-request-resource
      operationId: getSubmissionRequest
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SubmissionRequest"
      security:
      - sessionToken: []
  /submissions/requests/{accNo}/{version}/status:
    get:
      tags:
      - submission-request-resource
      operationId: getSubmissionRequestStatus
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                enum:
                - DRAFT
                - SUBMITTED
                - REQUESTED
                - FILES_VALIDATED
                - INDEXED
                - LOADED
                - INDEXED_CLEANED
                - VALIDATED
                - CLEANED
                - FILES_COPIED
                - CHECK_RELEASED
                - PERSISTED
                - PROCESSED
                - POST_PROCESSED
                - INVALID
      security:
      - sessionToken: []
  /submissions/requests/{accNo}/{version}/errors:
    get:
      tags:
      - submission-request-resource
      operationId: getSubmissionRequestErrors
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
      security:
      - sessionToken: []
  /submissions/extended/{accNo}:
    get:
      tags:
      - ext-submission-resource
      operationId: getExtended
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: includeFileList
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ExtSubmission"
  /submissions/extended/{accNo}/linkList/{linkListName}:
    get:
      tags:
      - ext-query-submission-resource
      operationId: linkListLinks
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: linkListName
        in: path
        required: true
        schema:
          type: string
      - name: request
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/ExtPageRequest"
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/WebExtPageExtLink"
  /submissions/extended/{accNo}/fileList/{path}:
    get:
      tags:
      - ext-query-submission-resource
      operationId: fileListFiles
      parameters:
      - name: accNo
        in: path
        required: true
        schema:
          type: string
      - name: path
        in: path
        required: true
        schema:
          type: string
      - name: request
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/ExtPageRequest"
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/WebExtPageExtFile"
  /submissions/drafts/{accNo}/content:
    get:
      tags:
      - Submission Drafts
      summary: Get Submission Draft Content
      description: Get the raw content of the submission draft with the specified
        accNo.
      operationId: getSubmissionDraftContent
      parameters:
      - name: accNo
        in: path
        description: Submission accNo
        required: true
        schema:
          type: string
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
      security:
      - sessionToken: []
  /collections:
    get:
      tags:
      - collection-resource
      operationId: getUserCollections
      responses:
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "415":
          description: Unsupported Media Type
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationTree"
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Collection"
      security:
      - sessionToken: []
  /auth/profile:
    get:
      tags:
      - Security
      summary: User Info
      description: Get the profile of the authenticated user.
[...]
